* {
    margin: 0 auto;
}

body {
    font-family: "Segoe UI Semibold", Arial, Helvetica, sans-serif;
    color: #212529;
}

h1 {
    font-size: 2.5rem;
}

main {
    margin: 0 4rem;
}

input {
    padding: .5rem;
    border: 1px solid green;
    border-radius: 5px 0 0 5px;
}

.inputFieldWrapper {
    display: flex;
    flex-direction: row;
}

.inputField {
    display: flex;
    flex-direction: row;
    padding: .5rem;
}

/* .inputField__around {
    border: 2px solid red;
}

.inputField__label {
    border: 2px solid red;
} */

.inputField__field {
    display: flex;
    flex-direction: row;
}

.inputField__unit {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: #e9ecef;
    border-top: 1px solid ;
    border-right: 1px solid ;
    border-bottom: 1px solid ;
    border-radius: 0 5px 5px 0;
}