* {
    margin: 0 auto;
}

body {
    font-family: "Segoe UI Semibold", Arial, Helvetica, sans-serif;
    color: #212529;
}

h1 {
    font-size: 2.5rem;
}

main {
    margin: 0 4rem;
}

input {
    padding: .5rem;
    border: 1px solid green;
    border-radius: 5px 0 0 5px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.2fr 0.2fr; 
    gap: 1rem 1rem; 
    grid-template-areas: 
      "input input input input"
      "input timer timer progressbar"; 
    border: 2px solid tomato;
}

.input {
    grid-area: input;
    display: flex;
}

.timer {
    grid-area: timer;
    display: flex;
}

.progressbar {
    grid-area: progressbar;
    display: flex;
}

progress[value] {
    border: none;
    height: 3rem;
}
progress[value]::-webkit-progress-value {
    background-color: #007bff;
    border-radius: 5px;
}

progress[value]::-webkit-progress-bar {
    background-color: #e9ecef;
    border-radius: 5px;
}

progress::-moz-progress-bar { background: #007bff; }
progress::-webkit-progress-value { background: #007bff; }

button {
    border: 0;
    padding: .5rem;
}

.start {
    color: #fff;
    background-color: #28a745;
}

.stop {
    color: #fff;
    background-color: #dc3545;
}

.reset {
    color: #fff;
    background-color: #343a40;
}
